html,
body {
	overflow-x: hidden;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 3vmax;
}

body {
	background-color: hsl(var(--clr-neutral-50));
}

*:focus {
	outline-offset: 3px;
	outline: 2px solid hsl(var(--clr-violet-500));
}
