// ================================== //
// Color Custom Properties (HSL)      //
// ================================== //

:root {
	// ------- Neutrals ------- //
	--clr-neutral-50: 230 12% 100%;
	--clr-neutral-100: 230 12% 90%;
	--clr-neutral-200: 230 12% 80%;
	--clr-neutral-300: 230 12% 70%;
	--clr-neutral-400: 230 12% 60%;
	--clr-neutral-500: 230 12% 50%;
	--clr-neutral-600: 230 12% 40%;
	--clr-neutral-700: 230 12% 30%;
	--clr-neutral-800: 230 12% 20%;
	--clr-neutral-900: 230 12% 10%;

	// ------- Blue Bolt ------- //
	--clr-blue-bolt-100: 198 100% 90%;
	--clr-blue-bolt-200: 198 100% 80%;
	--clr-blue-bolt-300: 198 100% 70%;
	--clr-blue-bolt-400: 198 100% 60%;
	--clr-blue-bolt-500: 198 100% 50%;
	--clr-blue-bolt-600: 198 100% 40%;
	--clr-blue-bolt-700: 198 100% 30%;
	--clr-blue-bolt-800: 198 100% 20%;
	--clr-blue-bolt-900: 198 100% 10%;

	// ------- Han Purple ------- //
	--clr-han-purple-100: 248 78% 90%;
	--clr-han-purple-200: 248 78% 80%;
	--clr-han-purple-300: 248 78% 70%;
	--clr-han-purple-400: 248 78% 60%;
	--clr-han-purple-500: 248 78% 50%;
	--clr-han-purple-600: 248 78% 40%;
	--clr-han-purple-700: 248 78% 30%;
	--clr-han-purple-800: 248 78% 20%;
	--clr-han-purple-900: 248 78% 10%;

	// ------- Persian Rose ------- //
	--clr-persian-rose-100: 320 98% 88%;
	--clr-persian-rose-200: 320 98% 78%;
	--clr-persian-rose-300: 320 98% 68%;
	--clr-persian-rose-400: 320 98% 58%;
	--clr-persian-rose-500: 320 98% 48%;
	--clr-persian-rose-600: 320 98% 48%;
	--clr-persian-rose-700: 320 98% 28%;
	--clr-persian-rose-800: 320 98% 18%;
	--clr-persian-rose-900: 320 98% 8%;

	// ------- Violet ------- //
	--clr-violet-100: 286 80% 97%;
	--clr-violet-200: 286 80% 87%;
	--clr-violet-300: 286 80% 77%;
	--clr-violet-400: 286 80% 67%;
	--clr-violet-500: 286 80% 57%;
	--clr-violet-600: 286 80% 47%;
	--clr-violet-700: 286 80% 37%;
	--clr-violet-800: 286 80% 27%;
	--clr-violet-900: 286 80% 17%;

	// ------- Fuchia ------- //
	--clr-fuchia-100: 304 99% 88%;
	--clr-fuchia-200: 304 99% 78%;
	--clr-fuchia-300: 304 99% 68%;
	--clr-fuchia-400: 304 99% 58%;
	--clr-fuchia-500: 304 99% 48%;
	--clr-fuchia-600: 304 99% 48%;
	--clr-fuchia-700: 304 99% 28%;
	--clr-fuchia-800: 304 99% 18%;
	--clr-fuchia-900: 304 99% 8%;
}
